@model IEnumerable<InterfazViniloVirtual.Models.ArtistaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsuarioViewModel user =   (UsuarioViewModel)ViewData["usuario"];
}

@if (user != null && user.Tipo == "A")
{
    <p>
        <a asp-action="Create" class="custom-button">Crear nuevo artista</a>
    </p>
}


<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 album-cell">
                @if (item != null && item.imagen != null)
                {
                    <a href="/Album/Details/@item.id">
                        <img src="@item.imagen" class="album-image" alt="@item.imagen">
                    </a>
                    <div class="album-title">@item.nombre</div>
                }
            </div>
        }
    </div>
</div>
