html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* color de fondo del footer */
.footer {
  background-color: #171e26 !important;
  color: #fff !important;
  scroll-padding-top: 30px;
  text-align: center;
}

.navbar {
  background-color: #293340;
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Bold */
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-brand {
  margin-left: 5rem !important;
}

/* Letra Blanca */
.navbar-nav .nav-link {
  color: #fff !important;
  font-size: 16px;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

/* Cambios para administrador */
.admin-navbar {
  background-color: #ff6347 !important; 
}

.admin-profile{
  background-color: white !important;
  border: 2px solid white !important;
  border-radius: 60px !important;
  color: #ff6347 !important; 
  padding-right: 2rem;
  padding-left: 2rem;;
  margin-right: 5rem; /* Márgen derecho */
}

.navbar-opc {
  margin-right: 1.5rem !important;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
  font-size: 16px;
}

/* Botones navbar*/
.navbar-nav .nav-link.btn {
  background-color: #fff;
  color: #293340 !important;
}
.navbar-nav .nav-link.btn:hover {
  background-color: #293340;
  color: #fff !important;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilos de texto */
h1 {
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  font-size: 32pt;
}

h2 {
  font-family: "Monserrat", sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 20pt;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300; /* Light */
  font-size: 14pt;
}

/* Estilos de navegación */
nav {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

/* Estilos de botones */


.form-group input {
    background-color: #f2f2f2; /* Gris claro para el fondo de los inputs */
    color: #333; /* Color de texto para los inputs */
    border: 1px solid #ccc; /* Borde gris para los inputs */
}

.btn-primary {
    background-color: #293340 !important; /* Azul distinto para el botón */
    border-color: #007BFF; /* Color de borde para el botón */
    color: white !important; /* Color de texto para el botón */
}
    .btn-primary:hover {
        background-color: #ffffff !important; /* Cambia el color de fondo al pasar el ratón */
        border-color: #293340 ;
        color: #000000 !important;
    }
    
.btn {
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
}

.btn1-navbar {
  background-color: white !important;
  border: 2px solid white !important;
  border-radius: 60px !important;
  color: #293340 !important;
  padding-right: 2rem;
  padding-left: 2rem;;
  margin-right: 5rem; /* Márgen derecho */
}

.btn2-navbar {
  background-color: transparent !important;
  border: 2px solid white !important;
  border-radius: 60px !important;
  color: white !important;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: 10px; /* Márgen derecho */
}

.btn-outline-success.focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-input {
  outline: none !important;
  box-shadow: none !important;
}

.search-bar{
  border: 2px solid #B4B9BF !important;
  border-radius: 60px !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0.5rem;
}


.album-cell {
    border: none; /* O puedes simplemente eliminar esta línea */
    padding: 1rem;
    margin: 1%;
}

.album-cell:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
  0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px !important;
  transform: scale(1.1);
}

.album-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.album-title {
  font-size: 18pt;
  font-weight: bold;
  margin-top: 10px;
}

.album-artist {
  font-size: 14pt;
  margin-top: 5px;
}

.album-price {
  font-size: 18px; /* Ajusta el tamaño de fuente según tus preferencias */
  font-weight: bold;
  color: #333; /* Cambiado a un tono más oscuro para mejorar la legibilidad */
  margin-top: 10px;
  font-family: "Arial", sans-serif; /* Cambiado a la fuente Arial */
}
.album-price:after {
  content: " \20AC"; /* Código Unicode para el símbolo de euro precedido de un espacio */
}

/* Estilos del botón */
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #293340; /* Color del borde */
  border-radius: 60px; /* Bordes redondos */
  text-decoration: none; /* Elimina la subrayado del enlace */
  color: #ffffff !important; /* Color del texto */
  background-color: #293340 !important; /* Color de fondo gris claro */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  margin: .1rem;
}

/* Efecto de sombra al pasar el ratón */
.custom-button:hover {
  padding: 10px 20px;
  border: 2px solid #293340; /* Color del borde */
  border-radius: 60px; /* Bordes redondos */
  background-color: #ffffff !important; /* Cambia el color de fondo al pasar el ratón */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  color: #293340 !important; /* Nuevo color al pasar el ratón */
  margin: .1rem;
}

.custom-button:hover a {
  color: #293340 !important; /* Nuevo color al pasar el ratón */
}

/* Estilos del botón custom-button2 */
.custom-button2 {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #293340; /* Nuevo color del borde */
  border-radius: 50px; /* Bordes redondos de 50px */
  text-decoration: none; /* Elimina la subrayado del enlace */
  color: #293340 !important; /* Nuevo color del texto */
  background-color: #ffffff !important; /* Nuevo color de fondo blanco */
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s; /* Transiciones suaves */
}

/* Efecto de sombra al pasar el ratón */
.custom-button2:hover {
  background-color: #293340 !important; /* Cambia el color de fondo al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra al pasar el ratón */
  color: #ffffff !important; /* Nuevo color del texto al pasar el ratón */
}

/* Estilo custom para los generos*/
.genre-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #B4B9BF; 
  border-radius: 60px; 
  text-decoration: none; 
  background-color: #ffffff !important; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  margin: .1rem;
}

.genre-btn a {
  color: #4f5967 !important; /* Nuevo color al pasar el ratón invertido */
}

/* Efecto de sombra al pasar el ratón */
.genre-btn:hover {
  padding: 10px 20px;
  border: 2px solid #ffffff; /* Color del borde invertido */
  border-radius: 80px; /* Bordes redondos */
  background-color: #293340 !important; /* Cambia el color de fondo al pasar el ratón */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  margin: .1rem;
}

.genre-btn:hover a {
  color: #ffffff !important; /* Nuevo color al pasar el ratón invertido */
}


/* Para comentarios */
.user-comm {
  text-decoration: none; /* Elimina la subrayado del enlace */
  color: #293340 !important; /* Color de texto #293340 */
}

.comm {
  border: 2px solid #293340 !important; /* Nuevo color del borde */
  border-radius: 20px !important; /* Bordes redondos de 50px */
  color: #293340 !important; /* Color de texto #293340 */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Para iconos */
.icon {
  display: inline-block;
  margin-right: .5rem !important; /* Ajusta el margen a la derecha según tus necesidades */
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

.mt-5 {
    margin-left: 5px;
}


/* Títulos */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32pt;
}

/* Subtítulos */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: semibold;
    font-size: 20pt;
}

/* Cuerpo del texto */
body {
    font-family: 'Lato', sans-serif;
    font-weight: light;
    font-size: 14pt;
}

dl.row dt,
dl.row dd {
    margin-bottom: 20px; 
}

.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }

@media (min-width: 576px) {
  .mr {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .mr{
    margin-left: 379px;
  }
}

@media (max-width: 768px) {
  .btn1-navbar{
    margin-right: 0.2rem;
    margin-top: 0.8rem;
  }
}