html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* color de fondo del footer */
.footer {
  background-color: #171e26 !important;
  color: #fff !important;
  scroll-padding-top: 30px;
  text-align: center;
}

.navbar {
  background-color: #293340;
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Bold */
}

/* Letra Blanca */
.navbar-nav .nav-link {
  color: #fff !important;
  font-size: 16px;
}
.navbar-nav .nav-link:hover {
  color: #6c778c !important;
  font-size: 16px;
}

/* Botones navbar*/
.navbar-nav .nav-link.btn {
  background-color: #fff;
  color: #293340 !important;
}
.navbar-nav .nav-link.btn:hover {
  background-color: #293340;
  color: #fff !important;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilos de texto */
h1 {
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  font-size: 32pt;
}

h2 {
  font-family: "Monserrat", sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 20pt;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300; /* Light */
  font-size: 14pt;
}

/* Estilos de navegación */
nav {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

/* Estilos de botones */


.form-group input {
    background-color: #f2f2f2; /* Gris claro para el fondo de los inputs */
    color: #333; /* Color de texto para los inputs */
    border: 1px solid #ccc; /* Borde gris para los inputs */
}

.btn-primary {
    background-color: #293340 !important; /* Azul distinto para el botón */
    border-color: #007BFF; /* Color de borde para el botón */
    color: white !important; /* Color de texto para el botón */
}
    .btn-primary:hover {
        background-color: #ffffff !important; /* Cambia el color de fondo al pasar el ratón */
        border-color: #293340 ;
        color: #000000 !important;
    }
.btn {
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  font-size: 14pt;
}


.album-cell {
    border: none; /* O puedes simplemente eliminar esta línea */
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
  

.album-cell:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.album-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.album-title {
  font-size: 18pt;
  font-weight: bold;
  margin-top: 10px;
}

.album-artist {
  font-size: 14pt;
  margin-top: 5px;
}

.album-price {
  font-size: 18px; /* Ajusta el tamaño de fuente según tus preferencias */
  font-weight: bold;
  color: #333; /* Cambiado a un tono más oscuro para mejorar la legibilidad */
  margin-top: 10px;
  font-family: "Arial", sans-serif; /* Cambiado a la fuente Arial */
}
.album-price:after {
  content: " \20AC"; /* Código Unicode para el símbolo de euro precedido de un espacio */
}

/* Estilos del botón */
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc; /* Color del borde */
  border-radius: 20px; /* Bordes redondos */
  text-decoration: none; /* Elimina la subrayado del enlace */
  color: #ffffff !important; /* Color del texto */
  background-color: #293340 !important; /* Color de fondo gris claro */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

/* Efecto de sombra al pasar el ratón */
.custom-button:hover {
  background-color: #ffffff !important; /* Cambia el color de fondo al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra al pasar el ratón */
  color: #000000 !important;
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

.mt-5 {
    margin-left: 5px;
}


/* Títulos */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32pt;
}

/* Subtítulos */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: semibold;
    font-size: 20pt;
}

/* Cuerpo del texto */
body {
    font-family: 'Lato', sans-serif;
    font-weight: light;
    font-size: 14pt;
}

dl.row dt,
dl.row dd {
    margin-bottom: 20px; 
}