@using ViniloVirtualGen.ApplicationCore.Enumerated.ViniloVirtual
@model InterfazViniloVirtual.Models.UsuarioViewModel



@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cambiar estado del usuario</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="CambiarEstado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <br />
                @Html.DropDownListFor(m => m.Estado,
                         new SelectList(Enum.GetValues(typeof(EstadoUsuarioEnum))),
                         "Selecciona el estado", new { @class = "custom-select rounded-pill" })
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <a asp-action="Index"><button type="button" class="btn btn-secondary rounded-pill">Cancelar</button></a>
                <input type="submit" value="Save" class="btn btn-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
