@using ViniloVirtualGen.ApplicationCore.Enumerated.ViniloVirtual
@model InterfazViniloVirtual.Models.UsuarioViewModel



@{
    ViewData["Title"] = "Editar Foto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cambiar Foto de Perfil</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CambiarFoto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fichero" class="control-label"></label>
                <input asp-for="Fichero" type="file">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Me"><button type="button" class="btn btn-danger">Cancelar</button></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
