@using ViniloVirtualGen.ApplicationCore.Enumerated.ViniloVirtual
@model InterfazViniloVirtual.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Crear nuevo usuario</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control rounded-pill" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control rounded-pill" type="password" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control rounded-pill" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control rounded-pill" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Genero" class="control-label"></label>
                <br />
                @Html.DropDownListFor(m => m.Genero,
                         new SelectList(Enum.GetValues(typeof(GeneroUsuarioEnum))),
                         "Selecciona el género",
                         new { @class = "custom-select rounded-pill" })
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control rounded-pill" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Fichero" class="control-label"></label>
                <input asp-for="Fichero" type="file" class="form-control rounded-pill" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Tipo" class="control-label"></label>
                <br/>
                @Html.DropDownListFor(m => m.Tipo,
                            new SelectList(Enum.GetValues(typeof(TipoUsuarioEnum))),
                            "Selecciona tipo de usuario",
                            new { @class = "custom-select rounded-pill" })
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary rounded-pill">Cancelar</a>
                <input type="submit" value="Crear" class="btn btn-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
