@using ViniloVirtualGen.ApplicationCore.Enumerated.ViniloVirtual
@model InterfazViniloVirtual.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Editar Datos Personales</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="EditarPerfil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control rounded-pill" disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control rounded-pill" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control rounded-pill" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label rounded-pill"></label>
                <br />
                @Html.DropDownListFor(m => m.Genero,
                new SelectList(Enum.GetValues(typeof(GeneroUsuarioEnum))),
                "Selecciona el género",
                new { @class = "custom-select rounded-pill" })
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary rounded-pill">Guardar</button>
                <a asp-action="Me" class="ml-2"><button type="button" class="btn btn-secondary rounded-pill">Cancelar</button></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
