@using ViniloVirtualGen.ApplicationCore.Enumerated.ViniloVirtual
@model InterfazViniloVirtual.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido a Vinilo Virtual</h1>

<h4>Por favor, registrese:</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group rounded-pill">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group rounded-pill">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control" type="password" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group rounded-pill">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group rounded-pill">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group rounded-pill">
                <label asp-for="Genero" class="control-label"></label>
                <br />
                @Html.DropDownListFor(m => m.Genero,
                         new SelectList(Enum.GetValues(typeof(GeneroUsuarioEnum))),
                         "Selecciona el género")
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Fichero" class="control-label"></label>
                <input asp-for="Fichero" type="file">
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
