@using ViniloVirtualGen.ApplicationCore.Enumerated.ViniloVirtual
@model InterfazViniloVirtual.Models.AlbumViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear album auevo</h1>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Artista" class="control-label"></label>
                <br />
                @Html.DropDownListFor(m => m.IdArtista,
                         new SelectList(Model.ArtistaENs, "Id", "Nombre"),
                         "Selecciona el artista")
                <span asp-validation-for="Artista" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <br />
                @Html.DropDownListFor(m => m.Genero,
                         new SelectList(Enum.GetValues(typeof(GeneroMusicalEnum))),
                         "Selecciona el género")
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Fichero" class="control-label"></label>
                <input asp-for="Fichero" type="file">
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
