@model InterfazViniloVirtual.Models.ComunidadViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Crear nueva comunidad</h1>
<br />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control rounded-pill" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Fichero" class="control-label"></label>
                <input asp-for="Fichero" type="file" class="form-control rounded-pill">
            </div>
            <br />
            <div class="form-group mb-5">
                
                <input type="submit" value="Create" class="btn btn-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="mt-5">
   
    <a asp-action="Index" class="btn btn-secondary rounded-pill">Volver a la lista de comunidades</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
