@model IEnumerable<InterfazViniloVirtual.Models.ComunidadViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsuarioViewModel user = (UsuarioViewModel)ViewData["usuario"];
}

@if (user.Tipo == "A")
{
    <p>
        <a asp-action="Create" class="custom-button">Crear nueva comunidad</a>
    </p>
}

<div class="container-fluid">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 album-cell">
                @if (item != null && item.Imagen != null)
                {
                    <div class="card mb-3">
                        <a href="/Comunidad/Details/@item.Id">
                            <img src="@item.Imagen" class="card-img-top album-image" alt="@item.Imagen">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title album-title">@item.Nombre</h5>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
